<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SPMeta2.Core" version="1.0.274.1641" targetFramework="net45" />
  <package id="SPMeta2.CSOM.Foundation" version="1.0.274.1641" targetFramework="net45" />
  <package id="SPMeta2.SSOM.Foundation" version="1.0.274.1641" targetFramework="net45" />
</packages>